import React from 'react';


function ListItem(props) {
  return (
    <li className={styles.item}>
      {props.children}
    </li>
  );
}

const styles = {
  item: {
    width:      '100%',
    height:     '3em',
    display:    'flex',
    alignItems: 'center',
    position:   'relative',
  }
};
