const HomePage = React.createClass({
  componentDidMount() {
    this.props.dispatch(fetchPosts());
  }

  shouldComponentUpdate(nextProps, nextState) {
    return shallowCompare(this, nextProps, nextState);
  }

  render() {
    return (
      <Page>
        <Title>Hello, world!</Title>
        <Search text={this.props.query}
          onChange={query => this.props.dispatch(doSearch(query))}
        />
        <PostList items={this.props.posts} />
      </Page>
    );
  }
});
