import React from 'react';


const MyComponent = React.createClass({
  shouldComponentUpdate(nextProps, nextState) {
    // With immutable objects, you only
    // need to compare object references:
    return this.props !== nextProps;
  },

  ...
});